		
<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for WDDS</title>
	<atom:link href="https://www.wdds.ca/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wdds.ca</link>
	<description>A community where everybody belongs</description>
	<lastBuildDate>Mon, 29 Apr 2019 04:06:38 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
</channel>
</rss>
