body .container.vc_column_container.wdds-today-services-area{
    margin-top:50px !important;
}
.gform_wrapper .gform_page_footer .button.gform_next_button, .gform_wrapper .gform_page_footer .button.gform_previous_button{
    padding:6px 26px;
    background: #8a8d36;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    border:none;
    margin-right:10px;
}
.footable .pagination>.active>a, .footable .pagination>.active>a:focus, .footable .pagination>.active>a:hover, .footable .pagination>.active>span, .footable .pagination>.active>span:focus, .footable .pagination>.active>span:hover{
    background:#8a8d36;
    border-color: #8a8d36;
}
.footable .pagination>li>a, .footable .pagination>li>span{
    color: #8a8d36;
}
.footable .btn-primary.active, .footable .btn-primary.focus, .footable .btn-primary:active, .footable .btn-primary:focus, .footable .btn-primary:hover, .footable .open>.dropdown-toggle.btn-primary{
    background:#8a8d36;
}
.gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
    width: auto;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 0 .5em;
    min-height: 1.8em;
    vertical-align: top;
    margin: 0px 10px 20px;
}
.hire-area-left{
    padding-top:0 !important;
}
.hire-area-left.vc_column_container>.vc_column-inner{
    height:100%;
    padding-top:155px !important;
}
.hire-area-right-inned-div-1 {
    width: 100%;
    height:414px;
}
.hire-area-right-inned-div-2{
    width:100%;
}
.what-makes-us-heading{
    margin-bottom:100px !important;
}
.wdds-today-services.wpb_column.vc_column_container.vc_col-sm-3{
    text-align:center;
}
.search .site-main, .error404 .site-main{
    max-width:1130px;
    margin:auto;
    width:90%;
}
.search h1, .search a, .error404 h1{
    color:#8a8d36;
    text-decoration:none !important;
}
.inner-banner{
    width: 100%;
    float: left;
    height: 250px;
    background-size: cover;
    color: white;
    padding: 90px 0;
}
.inner-page-banner-left h1 {
    margin-top: 0;
    margin-bottom: 3px;
    font-family: 'Adamina', serif;
    text-transform:uppercase;
}
.inner-page-banner-left p {
    font-size: 16px;
}
.inner-page-banner-right a {
    display: inline-block;
    width: 165px;
    border: 2px solid;
    color: white;
    background-color: transparent;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}
.inner-page-banner-right {
    float: right;
    font-family: 'Raleway', sans-serif;
}
.inner-page-banner-right a:last-child{
    margin-right:0;
}
.inner-page-white-area-wrapper ul li {
    list-style: none;
    display: inline-block;
}
.inner-page-white-area-wrapper ul li a {
    color: #8b8d09;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 3px solid;
    width: auto;
    height: 40px;
    display: inline-block;
    line-height: 37px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0 10px;
    margin-top: 50px;
    text-align: center;
    padding-left: 70px;
    padding-right: 30px;
}
.inner-page-black-area-wrapper  h3 {
    font-family: 'Adamina', serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 15px;
    margin-bottom: 40px !important;
    margin-top: 40px;
    color: white;
    font-size:36px;
}
.inner-page-black-area-wrapper  h3:before, .inner-page-black-area-wrapper  h3:after, .get-involved-page-make-a-donation-area-orange-box h3:after, .get-involved-page-make-a-donation-area-orange-box h3:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    width: 200px;
    background: white;
    top: 0;
}
.inner-page-black-area-wrapper h3:after, .get-involved-page-make-a-donation-area-orange-box h3:after {
    top:auto;
    bottom: 0;
    height:1px;
}
.inner-page-black-area-wrapper {
    margin-top:40px;
    background: #6d6d6d !important;
}
.inner-page-black-area-wrapper .col-sm-6:first-child{
    text-align:center;
}
.inner-page-black-area-wrapper .col-sm-6:first-child a {
    width: 300px;
    height: 50px;
    line-height: 48px;
    background-color: #bbd345;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    transition: all .4s;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-top: 43px;
    margin-bottom:40px !important;
}
.inner-page-black-area-wrapper p{
    color:#fff;
    font-size:18px;
    font-family: 'Muli', sans-serif;
}
.inner-page-black-area-wrapper p strong{
    font-size:24px;
}
.volunteer-left{
    float: left;
    text-align: center;
    height: 465px;
    color: white;
    font-family: 'Adamina', serif;
}
.volunteer-left.vc_column_container>.vc_column-inner{
    background-position:center;
    height:100%;
}
.get-involved-page-volunter-area-inner-right-div{
    width:100%;
}
.get-involved-page-make-a-donation-area-orange-box h3 {
    margin-top: 0;
    font-family: 'Adamina', serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 36px;
}
.get-involved-page-make-a-donation-area-orange-box{
    background-size:cover;
}
.resources-container{
    max-width:900px !important;
}

.volunteer-left h4 {
    text-transform: uppercase;
    line-height: 465px;
    margin-top: 0;
    font-size: 36px;
    margin-bottom: 0;
}
.volunteer-left h4 img {
    vertical-align: text-bottom;
    margin-right: 15px;
}
.contribute-btn{
    background-color: transparent;
    color:#333;
    border: 2px solid #8b8d09;
    width: 420px;
    height: 33px;
    line-height:33px;
    text-decoration:none !important;
    font-size: 16px;
    text-transform: uppercase;
    background: url('/assets/theme1/wp-content/uploads/2018/07/arrow-down.png');
    background-size: unset;
    background-repeat: no-repeat;
    background-position: 23px;
    text-align: left;
    padding-left: 65px;
    outline: 0;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-page-white-area-wrapper{
    width: 800px;
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    text-align:center;
}
#planned-giving .inner-page-white-area-wrapper{
    text-align:left;
}
#planned-giving .inner-page-white-area-wrapper ul{
    list-style:disc;
}
#planned-giving .inner-page-white-area-wrapper ul li{
    list-style-type: disc !important;
    display: list-item;
}
.full_width{
    float:left;
    width:100%;
}
.inner-page-white-area-wrapper h2 {
    font-family: 'Adamina', serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 35px 0 25px;
    margin-bottom: 35px !important;
    margin-top: 70px;
    font-size: 40px;
}
.inner-page-white-area-wrapper h2:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    width: 200px;
    background: #333;
    top: 0;
}
.inner-page-white-area-wrapper h2:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 200px;
    background: #333;
    bottom: 0;
}
.inner-page-white-top-row{
    text-align:center;
}
.inner-page-white-top-row .center-leaf {
    margin-top: 40px !important;
}
.get-involved-page-center-leaf {
    margin-top: 40px !important;
}

.inner-page-black-area-wrapper ul {
    padding-left: 50px;
}
.inner-page-black-area-wrapper li{
    color: #fff;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
}
.bg-green{
    background:#8b8d09 !important;
}
.joblinks-right{
    text-align:center;
}
.joblinks-right  h4 {
    font-family: 'Adamina', serif;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
    color:#fff;
    display:inline-block;
}
.joblinks-right  h4:before {
    content: '';
    background: url('/assets/theme1/wp-content/uploads/2018/07/settings-2.png') no-repeat;
    width: 48px;
    height: 44px;
    position: absolute;
    left: -70px;
    top: -7px;
}
.looking-for-resources{
    margin-bottom:-60px;
}
.joblinks-right a {
    color: white;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 900;
}
.joblinks-right p {
    text-align: center;
    font-size: 15px;
    font-family: 'Muli', sans-serif;

}
.joblinks-right p:nth-child(3){
    margin-top: 25px;
}
.employment-page-two-col-right:last-child{
    border-bottom:0;
}
.what-we-do-page-middle-content .vc_column_container{
    padding:0px 15px;
}
.what-we-do-page-three-col-text-box h2{
    font-size:28px;
    width:100%;
}
.what-we-do-page-three-col-text-box p {
    text-align: left;
    min-height: 83px;
}


.what-we-do-page-three-col-text-box p:last-child{
    text-align:center;
    min-height: initial;
}

.what-we-do-page-three-col-text-box a{
    margin-top:20px;
}
.wwd-col-2 .what-we-do-page-three-col-text-box{
    background:#696969;
}
.wwd-col-3 .what-we-do-page-three-col-text-box{
    background:#3d3d3d;
}
@media(max-width:1200px){
    .wdds-today-services .wpb_text_column {
        max-width: 55%;
    }
    .hire-area-right-inned-div-2-text-box{
        width:80%;
    }
    .wdds-today-col-area h3{
        margin-bottom:40px !important;
    }
    body .container.vc_column_container.wdds-today-services-area {
        margin-top: 50px !important;
    }
    .footer-first-col ol li img {
        margin-right: 10px;
    }
    .footer-first-col{
        width:100%;
    }
}
@media(max-width:992px){
    .banner-innerbox h1 {
        color: white;
        font-size: 46px;
    }
    .wdds-today-inner-box p{
        width:80%;
        font-size:18px;
    }
    .wdds-today-services.wpb_column.vc_column_container.vc_col-sm-3 {
        text-align: center;
        width: 50%;
        margin-bottom:40px !important;
    }
    .wdds-today-services .wpb_text_column {
        max-width: 30%;
    }
    .wdds-today-col-text-box{
        width:100%;
    }
    .center-leaf{
        margin-top:15px;
    }
    .hire-area-wrapper .vc_column_container.vc_col-sm-6{
        width:100%;
    }
    .hire-area-right .vc_col-sm-8 .wpb_text_column:last-child .hire-area-right-inned-div-2{
        border-bottom:0;
    }
    .hire-area-right-inned-div-2{
        padding-top:38px;
        padding-bottom:38px;
    }
    .what-makes-us-inner-div ul{
        width:auto;
    }
    .footer-first-col ul li i {
        margin-right: 10px;
        float: left;
    }
    .footer-first-col ul li:last-child p {
        width: 85%;
        font-size: 10px;
    }
    .vc_column_container.wdds-today-col-area>.vc_column-inner {
        padding-top: 70px !important;
    }
}
@media(max-width:767px){
    .banner-innerbox {
        width: 95% !important;
    }
    body .wdds-today-inner-box{
        display:inline-block;
        width:85%;
    }
    .mobile-search-wrapper{
        display:block;
    }
    .mobile-search-wrapper form{
        width:250px;
        margin:auto;
        position:relative;
    }
    .mobile-search-wrapper button {
        right: 0;
        left: 60px;
        top: 11px;
        position: absolute;
    }
    .wdds-today-col-area.container.wpb_column{
        width:85%;
    }
    .vc_column_container.wdds-today-col-area>.vc_column-inner {
        padding-top: 5px !important;
    }
    .wdds-today-col-area h3{
        position:relative;
        top:30px;
    }
    .wdds-today-services.wpb_column.vc_column_container.vc_col-sm-3 {
        text-align: center;
        width: 460px;
    }
    .wdds-today-services .wpb_text_column {
        width: 180px;
        max-width: initial;
    }
    .center-leaf{
        margin-bottom:40px;
    }
    .footer-first-col ul li i{
        float:none;
    }
    .footer-first-col ul li:last-child p {
        width: auto;
        font-size: 10px;
        display: inline-block;
        float:none;
    }
    .footer-bottom-bar-second-div li a{
        border:none;
    }
    .woodstock-row{
        float:left;
        width:100%;
    }
    .vc_row{
        float:left;
        width:100%;
    }
    .what-makes-us-area-wrapper.vc_row {
        width: 460px;
        float:none;
    }
    .banner-innerbox h1 {
        font-size: 33px;
    }
    .listen-btn{
        float:none;
        display:inline-block;
    }
}

@media (max-width: 480px){
    .wdds-today-inner-box p {
        width: 80%;
        font-size: 14px;
    }
    .wdds-today-col-area h3:after{
        width:100%;
        max-width:300px;
    }
    .vc_column_container.wdds-today-col-area>.vc_column-inner {
        padding-top: 5px !important;
        background-position: top;
    }
    .vc_column_container.wdds-today-col-area>.vc_column-inner {
        padding-top: 5px !important;
        background-position: top;
    }

    .what-makes-us-heading{
        font-size:26px;
    }
    .wdds-today-col-area h3{
        font-size:26px;
    }
    .what-makes-us-area-wrapper.vc_row {
        width: 90%;
        float: none;
    }
    .wdds-today-services.wpb_column.vc_column_container.vc_col-sm-3 {
        text-align: center;
        width: 100%;
    }
}

page-id-781 .vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #fff;
    background-color: #8b8d09 !important;
}
/*form nexe and precious butoon css*/
.gform_wrapper .gform_page_footer .button.gform_previous_button {
    padding: 6px 26px;
    background: #8a8d36;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    border: none;
    margin-right: 10px;
    height: 40px;
}



.gform_wrapper .gform_page_footer .button.gform_button, .gform_wrapper .gform_page_footer .button.gform_next_button {
    margin-right: .625em;
    height: 40px;
    width: 88px;
    color: #fff;
    background-color: #8a8d36;
}

.vc_custom_1534322066104{background-image: url(https://dev.spotmarketing.ca/wdds/wp-content/uploads/2018/08/who-we-are-banner-1.jpg?id=1018) !important;}
.vc_custom_1532264434138{background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}
.vc_custom_1534322888195{background-image: url(https://dev.spotmarketing.ca/wdds/wp-content/uploads/2018/08/who-we-are-banner-1.jpg?id=1018) !important;}
.vc_custom_1532196412205{background-color: #818181 !important;}
.vc_custom_1534322654029{background-image: url(https://dev.spotmarketing.ca/wdds/wp-content/uploads/2018/07/leaves-02.jpg?id=358) !important;}
.vc_custom_1532129226304{background-image: url(https://dev.spotmarketing.ca/wdds/wp-content/uploads/2018/07/news-banner.png?id=506) !important;}
.vc_custom_1531988154165{background-image: url(https://dev.spotmarketing.ca/wdds/wp-content/uploads/2018/07/leaves-02.jpg?id=358) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}