.menu-staff-portal {
    font-family:'Adamina', 'Muli';
    margin: 20px;
}
.menu-staff-portal a {
    color: white;
}
.menu-staff-portal a:hover {
    color: #fbad1d;
}
.menu-staff-portal li {
    background-image: linear-gradient(#929439, #898c35);
    border: 2px solid #a2a466;
    border-radius: 3%;
    font-size: 130%;
    padding: 1em;
    width: 80%;
}
.content {
   font-family: 'Muli', 'Adamina';
   margin: auto;
}
.heading-portal {
    font-family:'Adamina', 'Muli';
    text-align: center;
    padding: 1em;
    font-weight: bold;
}
.index-subheading {
	margin-top: 1em;
	font-family:'Adamina', 'Muli';
	text-align: center;
}
.index-text {
	width: 80%;
	text-align: center;
	line-height: 120%;
	margin: auto;
	font-family: 'Muli', 'Adamina';
}
.underline-gold {
	background-color: #fbad1d;
	width: 100px;
	height: .5px;
}
.grid-values {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card-values {
	height: 27em;
	width: 350px;
	margin: 2em auto;
	color: white;
	text-align: center;
	font-size: 90%;
	font-family: 'Muli', 'Adamina';
}
.image-values, .text-values {
	height: 50%;
}
.text-values {
    margin: 0;
    padding: .5em;
}
.widget-area-staff h2 {
	text-align: center;
	font-family: 'Adamina', 'Muli';
}
.widget-title {
    font-family: 'Adamina', 'Muli';
}

#quote-portal {
    width: 100%;
}
#respect-and-dignity {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/respect-and-dignity.png");
	background-size: cover;
}
#community-participation {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/taralee-edit-fb.jpg");
	background-size: cover;
}
#independence-personal-growth {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/options.jpg");
	background-size: cover;
}
#equality {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/tara-and-the-mayor.jpg");
	background-size: cover;
	background-position-y: 30%;
}
#leadership {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/Taste-of-Woodstock.jpg");
	background-size: cover;
}
#excellence-and-innovation {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/Communications.jpg");
	background-size: cover;
}
#relationships {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/News-and-Events.jpg");
	background-size: cover;
}
#staff-and-volunteers {
	background-image: url("http://dev.spotmarketing.ca/WDDSPortal/wp-content/uploads/2018/08/Get-Involved.jpg");
	background-size: cover;
}

@media only screen and (min-width: 1200px) {
	.card-values {
	width: 450px;
	height: 35em;
	margin: 2em 1em 1em 1em;
    }
        .text-values h3 {
        padding-top: 2em;
    }
    .content {
        max-width: 768px;
    }

    #respect-and-dignity {
    	background-position-y: 60%;
    }
     #community-participation {
    	background-position-y: 40%;
    }
    #equality {
    	background-position-y: 40%;
    }
}