

.rw-ui-star.rw-size-medium.rw-style-oxygen .rw-ui-stars li { background-image: url('//img.rating-widget.com/widget/s/oxygen.m.png') !important; }
.rw-ui-star.rw-size-medium.rw-style-flat_yellow .rw-ui-stars li { background-image: url('//img.rating-widget.com/widget/s/flat_yellow.m.png') !important; }
.rw-ui-star.rw-size-large.rw-style-oxygen .rw-ui-stars li { background-image: url('//img.rating-widget.com/widget/s/oxygen.l.png') !important; }
.rw-ui-star.rw-size-large.rw-style-flat_yellow .rw-ui-stars li { background-image: url('//img.rating-widget.com/widget/s/flat_yellow.l.png') !important; }

/* Loaded flag
--------------------------------------------------------------------*/
div#rw-dcss-loaded-flag
{ 
    z-index: 12358 !important;
}