		
<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Compliance/Accreditation &#8211; WDDS</title>
	<atom:link href="https://www.wdds.ca/articles/compliance-accreditation/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wdds.ca</link>
	<description>A community where everybody belongs</description>
	<lastBuildDate>Tue, 23 Apr 2019 19:11:37 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
	<item>
		<title>WDDS Achieves 100%  in FOCUS Accreditation</title>
		<link>https://www.wdds.ca/article/wdds-achieves-100-in-focus-accreditation/</link>
		<pubDate>Fri, 20 Jul 2018 22:09:29 +0000</pubDate>
		<dc:creator><![CDATA[nettrac_admin]]></dc:creator>
		
		<guid isPermaLink="false">http://wddswp.wescript.org/?post_type=articles&#038;p=499</guid>
		<description><![CDATA[FOCUS Accreditation is pleased to announce that Woodstock and District Developmental Services (WDDS) has been successful in its bid to be accredited by FOCUS Accreditation for four years from April 2016 – April 2020.   

This is Woodstock and District Developmental Services third accreditation. WDDS is also commended for receiving 100% in meeting all standards as laid out by
FOCUS Accreditation!]]></description>
				<content:encoded><![CDATA[<div class="inner-page-white-area-wrapper text-left">
<h3>FOCUS Accreditation Announces third Four Year Accreditation for Woodstock and District Developmental Services</h3>
<p><strong>Date: May 20, 2016</strong></p>
<p>Woodstock, ON –FOCUS Accreditation is pleased to announce that Woodstock and District Developmental Services (WDDS) has been successful in its bid to be accredited by FOCUS Accreditation for four years from April 2016 – April 2020. This is Woodstock and District Developmental Services third accreditation. WDDS is also commended for receiving 100% in meeting all standards as laid out by FOCUS Accreditation!</p>
<p>Woodstock and District Developmental Services (WDDS), a non-profit charitable organization, has been providing opportunities and supports for people with developmental disabilities in Oxford County since 1959. WDDS offers a wide range of individualized supports and services through their Day, Accommodation, Employment and Family Support Programs.</p>
<p>FOCUS Accreditation looks at all aspects of how an organization provides services – from how people are supported to the effectiveness of the operations. FOCUS Accreditation sent a team of four people to review Woodstock and District Developmental Services’ services on-site for three days. The team observed how services were provided, reviewed data and collected input from various people who have a stake in the services being provided.</p>
<p><strong>Many strengths were identified at Woodstock and District Developmental Services by the FOCUS Validators:</strong></p>
<p>• WDDS has a self-advocates group named SOAR (Speaking Out About Rights) that meets regularly to discuss individual rights and to advocate regarding issues that are relevant in their own lives and in the community as a whole. The participants are provided support and assistance from the organization to help facilitate and implement the group’s action plans and ideas.</p>
<p>• Woodstock and District Developmental Services has developed a process for Individual Support Plans that contain Service Agreements outlining outcomes based goals for all people using services. WDDS staff are knowledgeable about the goals people using services are working on and refer to the written plans to track progress and document any changes based on an individual’s desire and/or changing needs.</p>
<p>• Woodstock and District Developmental Services engages many organizations and entities at the local, regional and provincial levels so as to embrace continuous organizational learning and strive for innovation.</p>
<p>&nbsp;</p>
<div></div>
</div>
]]></content:encoded>
			</item>
		<item>
		<title>WDDS in Compliance with Ministry Quality Measures</title>
		<link>https://www.wdds.ca/article/1839-4/</link>
		<pubDate>Fri, 20 Jul 2018 16:28:39 +0000</pubDate>
		<dc:creator><![CDATA[nettrac_admin]]></dc:creator>
		
		<guid isPermaLink="false">http://www.wdds.ca/?post_type=articles&#038;p=1873</guid>
		<description><![CDATA[The Ministry of Community and Social Services has deemed WDDS to be in compliance.  The Ministry Conducts compliance inspections of all Ministry-funded service agencies under the Services and Support to Promote the Social Inclusion of Persons with Developmental Disabilities Act, 2008 (SIPDDA).  The Specific standards of care and safety requirements that agencies are required to &#8230; <a href="https://www.wdds.ca/article/1839-4/" class="more-link">Continue reading <span class="screen-reader-text">WDDS in Compliance with Ministry Quality Measures</span></a>]]></description>
				<content:encoded><![CDATA[<p>The Ministry of Community and Social Services has deemed WDDS to be in compliance.  The Ministry Conducts compliance inspections of all Ministry-funded service agencies under the Services and Support to Promote the Social Inclusion of Persons with Developmental Disabilities Act, 2008 (SIPDDA).  The Specific standards of care and safety requirements that agencies are required to comply with are set out in the Ontario Regulation 299/10 Quality Assurance Measures (QAM) and/or in policy directives.</p>
<p><a href="http://www.wdds.ca/wp-content/uploads/2018/10/COMPLIANCE-2018.pdf" target="_blank" rel="noopener">Read More</a></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
