/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts7, span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts8
{
}
span.rvts9
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts10
{
 font-weight: bold;
 color: #000080;
}
span.rvts11
{
 font-style: italic;
 color: #800000;
}
a.rvts12, span.rvts12
{
 color: #008000;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
 font-weight: bold;
}
span.rvts14
{
 font-size: 12pt;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'AGaramond, 'Times New Roman'';
}
span.rvts16
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
}
span.rvts17
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts18
{
 font-size: 14pt;
}
span.rvts19
{
 font-size: 15pt;
 font-family: 'Liberation Serif';
}
span.rvts20
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts21
{
 font-size: 14pt;
}
span.rvts22
{
 font-size: 12pt;
}
a.rvts23, span.rvts23
{
 font-size: 14pt;
 text-decoration: none;
}
span.rvts24
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
 font-weight: bold;
}
span.rvts25
{
 font-size: 20pt;
 font-family: 'SimSun';
}
span.rvts26
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'SimSun';
}
span.rvts28
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
 color: #0000ff;
}
span.rvts29
{
 font-size: 20pt;
 font-family: 'Liberation Serif';
 color: #000000;
}
span.rvts30
{
 font-size: 20pt;
 font-family: 'SimSun';
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps3
{
}
.rvps4
{
 text-align: center;
}
.rvps5
{
 text-align: center;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps6
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 0px 48px;
}
.rvps7
{
 widows: 2;
 orphans: 2;
}
.rvps8
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps9
{
 text-align: center;
 widows: 2;
 orphans: 2;
}
.rvps10
{
 widows: 2;
 orphans: 2;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
